@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Contents/css/home.css" rel="stylesheet" />
</head>
<body>
    <div class="container">

        <div class="header">
            <a href="/" class="logo" title="TriZetto, A Cognizant Company">Healthcare IT Solutions &amp; Services</a>
        </div>
        <div class="subheader">
            <div class="applicationtext"><label>oRCM Application</label></div>
            <div class="patientSearchContainer"><input type="text" placeholder="SEARCH A PATIENT" /></div>
            <div class="advancedSearchContainer"><input type="button" value="ADVANCED SEARCH" /></div>
        </div>
        <div class="headerbreak"></div>
        <div>
            <table class="workingcontainer nopadding">
                <tr>
                    <td style="width:20%;background-color:#F1F2F7;vertical-align:top;" class="nopadding">
                        <div class="divMenu" style="background-color:#ffffff;">
                            <div class="red-indicator">

                            </div>
                            <div class="home-container">
                                &nbsp;
                            </div>
                            <div class="selecteddivContainerText">
                                <div>HOME</div>
                            </div>
                        </div>
                        <div class="divMenu">
                            <div class="indicator">

                            </div>
                            <div class="downloadapplication-container">
                                &nbsp;
                            </div>
                            <div class="divContainerText">
                                <div>DOWNLOAD APPLICATION</div>
                            </div>
                        </div>
                        <div class="divMenu">
                            <div class="indicator">

                            </div>
                            <div class="componentteam-container">
                                &nbsp;
                            </div>
                            <div class="divContainerText">
                                <div>COMPONENT TEAM</div>
                            </div>
                        </div>
                        <div class="divMenu">
                            <div class="indicator">

                            </div>
                            <div class="query-container">
                                &nbsp;
                            </div>
                            <div class="divContainerText">
                                <div>QUERY</div>
                            </div>
                        </div>
                        <div class="divMenu">
                            <div class="indicator">

                            </div>
                            <div class="myTasks-container">
                                &nbsp;
                            </div>
                            <div class="divContainerText">
                                <div>MY TASKS</div>
                            </div>
                        </div>
                        <div class="divMenu">
                            <div class="indicator">

                            </div>
                            <div class="request-container">
                                &nbsp;
                            </div>
                            <div class="divContainerText">
                                <div>MY REQUESTS</div>
                            </div>
                        </div>

                    </td>
                    <td style="vertical-align:top;margin:0px 5px 0px 0px;">
                        <div class="screenTextcontainer nopadding"><h2>Agents Screens</h2></div>
                        <div class="workItemContainer">
                            <div class="splitter">&nbsp;</div>
                            <div class="myWorkItems">
                                <div class="myWorkItemsIndicator"></div>
                                <div class="myWorkItemsNumber">35</div>
                                <div class="myworkitemtext">My Work<br />Items</div>
                            </div>
                            <div class="splitter">&nbsp;</div>
                            <div class="myWorkItems">
                                <div class="unselectedWorkItemIndicator"></div>
                                <div class="worklogNumber">25</div>
                                <div class="myworkitemtext">Work<br />Log</div>
                            </div>
                            <div class="splitter">&nbsp;</div>
                            <div class="myWorkItemslong">
                                <div class="unselectedWorkItemIndicator"></div>
                                <div class="reworkqueueNumber">145</div>
                                <div class="myworkitemtext" style="margin:4px 0px 0px 20px">Rework<br />Queue</div>
                            </div>
                            <div class="splitter">&nbsp;</div>
                            <div class="myWorkItemslong">
                                <div class="unselectedWorkItemIndicator"></div>
                                <div class="openqueueNumber">105</div>
                                <div class="myworkitemtext" style="margin:4px 0px 0px 20px">Open<br />Queue</div>
                            </div>
                            <div class="splitter">&nbsp;</div>
                            <div class="myWorkItemslong">
                                <div class="unselectedWorkItemIndicator"></div>
                                <div class="myRequestNumber">25</div>
                                <div class="myworkitemtext">My<br />Requests</div>
                            </div>
                            <div class="splitter">&nbsp;</div>
                            <div class="myWorkItemslong">
                                <div class="unselectedWorkItemIndicator"></div>
                                <div class="myNotificationNumber">15</div>
                                <div class="myworkitemtext">My<br />Notifications</div>
                            </div>
                        </div>
                        <div class="screenTextcontainer secondheading"><h2>My Tasks</h2></div>
                        <div class="gridContainer">
                            <table class="gridheader" cellpadding="0" cellspacing="0">
                                <tr>
                                    <th style="width:15%;">Work Item #</th>
                                    <th style="width:16%;">Internal Control #</th>
                                    <th style="width:18%;">Patient Name</th>
                                    <th style="width:17%;">Policy #</th>
                                    <th>Related Documents</th>
                                </tr>
                                <tr>
                                    <td style="height:360px; vertical-align:top;" colspan="5">
                                        <div class="dataContainer">
                                            <table cellpadding="0" cellspacing="0" style="width:100%">
                                                <tr>
                                                    <td class="firstcolumn">123 Adam</td>
                                                    <td class="secondcolumn">Requester</td>
                                                    <td class="thirdcolumn">Vamisikrishna P..</td>
                                                    <td class="fourthcolumn">2014-07-07 17:30</td>
                                                    <td class="fifthcolumn">Lorem ipsum dolor sit amet, consectetur.pdf</td>
                                                </tr>
                                                <tr>
                                                    <td class="firstcolumn">543 NONGBIS_TEST</td>
                                                    <td class="secondcolumn">Requester</td>
                                                    <td class="thirdcolumn">Ramakrishna Y..</td>
                                                    <td class="fourthcolumn">2014-05-02 16:45</td>
                                                    <td class="fifthcolumn">Lorem ipsum sit amet.dec</td>
                                                </tr>
                                                <tr>
                                                    <td class="firstcolumn">ADAM</td>
                                                    <td class="secondcolumn">Application Ma..</td>
                                                    <td class="thirdcolumn">Vamisikrishna P..</td>
                                                    <td class="fourthcolumn">2014-05-02 16:45</td>
                                                    <td class="fifthcolumn">Lorem ipsum dolor sit amet, consectetur.pdf</td>
                                                </tr>
                                                <tr>
                                                    <td class="firstcolumn">123 Adam</td>
                                                    <td class="secondcolumn">Requester</td>
                                                    <td class="thirdcolumn">Vamisikrishna P..</td>
                                                    <td class="fourthcolumn">2014-07-07 17:30</td>
                                                    <td class="fifthcolumn">Lorem ipsum dolor sit amet, consectetur.pdf</td>
                                                </tr>
                                                <tr>
                                                    <td class="firstcolumn">543 NONGBIS_TEST</td>
                                                    <td class="secondcolumn">Requester</td>
                                                    <td class="thirdcolumn">Ramakrishna Y..</td>
                                                    <td class="fourthcolumn">2014-05-02 16:45</td>
                                                    <td class="fifthcolumn">Lorem ipsum sit amet.dec</td>
                                                </tr>
                                                <tr>
                                                    <td class="firstcolumn">ADAM</td>
                                                    <td class="secondcolumn">Application Ma..</td>
                                                    <td class="thirdcolumn">Vamisikrishna P..</td>
                                                    <td class="fourthcolumn">2014-05-02 16:45</td>
                                                    <td class="fifthcolumn">Lorem ipsum dolor sit amet, consectetur.pdf</td>
                                                </tr>
                                                <tr>
                                                    <td class="firstcolumn">123 Adam</td>
                                                    <td class="secondcolumn">Requester</td>
                                                    <td class="thirdcolumn">Vamisikrishna P..</td>
                                                    <td class="fourthcolumn">2014-07-07 17:30</td>
                                                    <td class="fifthcolumn">Lorem ipsum dolor sit amet, consectetur.pdf</td>
                                                </tr>
                                                <tr>
                                                    <td class="firstcolumn">543 NONGBIS_TEST</td>
                                                    <td class="secondcolumn">Requester</td>
                                                    <td class="thirdcolumn">Ramakrishna Y..</td>
                                                    <td class="fourthcolumn">2014-05-02 16:45</td>
                                                    <td class="fifthcolumn">Lorem ipsum sit amet.dec</td>
                                                </tr>
                                                <tr>
                                                    <td class="firstcolumn">ADAM</td>
                                                    <td class="secondcolumn">Application Ma..</td>
                                                    <td class="thirdcolumn">Vamisikrishna P..</td>
                                                    <td class="fourthcolumn">2014-05-02 16:45</td>
                                                    <td class="fifthcolumn">Lorem ipsum dolor sit amet, consectetur.pdf</td>
                                                </tr>
                                                <tr>
                                                    <td class="firstcolumn">123 Adam</td>
                                                    <td class="secondcolumn">Requester</td>
                                                    <td class="thirdcolumn">Vamisikrishna P..</td>
                                                    <td class="fourthcolumn">2014-07-07 17:30</td>
                                                    <td class="fifthcolumn">Lorem ipsum dolor sit amet, consectetur.pdf</td>
                                                </tr>
                                                <tr>
                                                    <td class="firstcolumn">543 NONGBIS_TEST</td>
                                                    <td class="secondcolumn">Requester</td>
                                                    <td class="thirdcolumn">Ramakrishna Y..</td>
                                                    <td class="fourthcolumn">2014-05-02 16:45</td>
                                                    <td class="fifthcolumn">Lorem ipsum sit amet.dec</td>
                                                </tr>
                                                <tr>
                                                    <td class="firstcolumn">ADAM</td>
                                                    <td class="secondcolumn">Application Ma..</td>
                                                    <td class="thirdcolumn">Vamisikrishna P..</td>
                                                    <td class="fourthcolumn">2014-05-02 16:45</td>
                                                    <td class="fifthcolumn">Lorem ipsum dolor sit amet, consectetur.pdf</td>
                                                </tr>
                                                <tr>
                                                    <td class="firstcolumn">123 Adam</td>
                                                    <td class="secondcolumn">Requester</td>
                                                    <td class="thirdcolumn">Vamisikrishna P..</td>
                                                    <td class="fourthcolumn">2014-07-07 17:30</td>
                                                    <td class="fifthcolumn">Lorem ipsum dolor sit amet, consectetur.pdf</td>
                                                </tr>
                                                <tr>
                                                    <td class="firstcolumn">543 NONGBIS_TEST</td>
                                                    <td class="secondcolumn">Requester</td>
                                                    <td class="thirdcolumn">Ramakrishna Y..</td>
                                                    <td class="fourthcolumn">2014-05-02 16:45</td>
                                                    <td class="fifthcolumn">Lorem ipsum sit amet.dec</td>
                                                </tr>
                                                <tr>
                                                    <td class="firstcolumn">ADAM</td>
                                                    <td class="secondcolumn">Application Ma..</td>
                                                    <td class="thirdcolumn">Vamisikrishna P..</td>
                                                    <td class="fourthcolumn">2014-05-02 16:45</td>
                                                    <td class="fifthcolumn">Lorem ipsum dolor sit amet, consectetur.pdf</td>
                                                    <td></td>
                                                </tr>

                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="footer">&copy;2015 Cognizant, all rights reserved</div>
    </div>
</body>
</html>
